.search-form__submit {
    display: none;
    border: none;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: 3px 3px 5px #bebebe;
}

.search-form__input {
    border: none;
    padding: 10px;
}

.search-form__input:last-of-type {
    border-left: 1px solid #b5b5b5;
}

.back__btn {
    text-decoration: none;
    font-size: 30px;
    padding: 3px 10px;
    background-color: #FEFEFE;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
}

.title {
    display: inline-block;
    margin-left: 15px;
}

.content {
    padding: 60px;
    display: grid;
    text-align: left;
}

.table__row {
    border-bottom: 1px solid #b2b2b2;
    line-height: 40px;
}

.rep__list--header {
    padding-right: 80px;
}

.edit {
    margin-right: 40px;
    padding: 3px 10px;
    background-color: #FEFEFE;
    border: 1px solid #b2b2b2;
    color: #212df3;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.delete__shop-rep--button {
    padding: 5px 10px;
    background-color: #e93e1e;
    border: none;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:480px) {}

@media screen and (max-width:768px) {
    .content {
        padding: 30px;
    }
}