.update__content {
    text-align: center;
    margin-top: 50px;
}

.form-data {
    padding-bottom: 25px;
}

.label__inner {
    font-size: 20px;
}

.data {
    padding: 5px 10px;
}

.back__btn {
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.data__send--button {
    padding: 10px 20px;
    border: none;
    background-color: #212df3;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    .update__content {
        margin-top: 40%;
    }
}