.form {
    text-align: center;
}

.email__form {
    margin: 15px;
}

.group-type,
.title,
.body {
    padding: 15px;
    border-radius: 5px;
}

.back__btn {
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 80px;
}

.send-email__button {
    display: inline;
    padding: 10px 15px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #212df3;
    color: #FEFEFE;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    .body {
        width: 100%;
    }
}