.confirm-content {
    padding: 0 60px 40px;
}

.confirm {
    display: inline;
}

.image {
    width: 30%;
}

.shop_name {
    font-size: 20px;
    display: inline-block;
}

.edit-label {
    font-size: 20px;
}

.area,
.genre {
    display: inline-block;
}

.back__btn {
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.submit {
    padding: 10px 20px;
    border: none;
    background-color: #212df3;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

.cancel {
    margin: 30px 0;
}

.cancel__button {
    display: inline;
    padding: 7px 20px;
    text-decoration: none;
    border: none;
    background-color: #f44336;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}