.edit-content {
    padding-left: 40px;
}

.form__error {
    height: 20px;
    width: 400px;
    color: #ff0000;
    text-align: left;
}

.shop_name {
    font-size: 25px;
}

.edit-label {
    font-size: 20px;
}

.area__inner,
.genre__inner {
    padding: 5px 10px;
}

.message {
    color: #212df3;
}

.back__btn {
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.upload {
    padding: 10px 20px;
    border: none;
    background-color: #212df3;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}