.content {
    margin: 0 60px;
}

.title {
    display: flex;
    align-items: center;
}

.return__btn {
    padding: 7px 15px;
    background-color: #FEFEFE;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    font-weight: bold;
    color: #000;
}

.title__inner {
    display: inline-block;
    margin-left: 15px;
}

.content__heading {
    font-size: 20px;
    margin-bottom: 25px;
}

.prev-day,
.next-day {
    text-decoration: none;
}

.rese_row {
    border-bottom: 1px solid #b2b2b2;
    line-height: 40px;
    text-align: center;
}

.rese_inner {
    padding-right: 100px;
}