.detail-content {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.new-shop {
    margin-top: 80px;
}

.shop_create {
    text-decoration: none;
    background-color: #4b54f5;
    border-radius: 5px;
    color: #FEFEFE;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

.shop__description {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 20px;
}

.shop-name__inner {
    font-size: 30px;
    font-weight: bold;
}

.img_url {
    width: 80%;
}

.tag {
    padding: 20px 0;
    font-weight: bold;
}

.info__inner {
    font-weight: bold;
    margin: 0;
}

.edit {
    margin-top: 20px;
}

.edit__button {
    display: inline;
    text-decoration: none;
    background-color: #4b54f5;
    border-radius: 5px;
    color: #FEFEFE;
    padding: 10px 20px;
    cursor: pointer;
}

.delete__shop {
    display: inline;
}

.delete__shop--button {
    margin-left: 20px;
    padding: 11px 20px;
    background-color: #e93e1e;
    border: none;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

.reservation__confirm {
    margin: 60px 0 50px;
}

.reservation {
    margin-left: 20px;
    text-decoration: none;
    background-color: #4b54f5;
    border-radius: 5px;
    color: #FEFEFE;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width:480px) {}

@media screen and (max-width:768px) {
    .detail-content {
        width: 60%;
    }
}