.detail-content {
    width: 50%;
    margin: 0 40px 40px 40px;
}

.shop__description {
    border: #b5b5b5;
    border-radius: 5px;
}

.shop-name__inner {
    font-size: 40px;
    font-weight: bold;
}

.img_url {
    width: 70%;
}

.tag {
    padding: 30px 0;
    font-weight: bold;
}

.info__inner {
    font-weight: bold;
    margin: 0;
}

.edit {
    padding: 30px;
}

.edit__button {
    text-decoration: none;
    background-color: #4b54f5;
    border-radius: 5px;
    color: #FEFEFE;
    padding: 5px 10px;
    cursor: pointer;
}

.delete__shop--button {
    padding: 5px 10px;
    background-color: #e93e1e;
    border: none;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

.reservation {
    text-decoration: none;
    background-color: #4b54f5;
    border-radius: 5px;
    color: #FEFEFE;
    padding: 5px 10px;
    cursor: pointer;
}