.content {
    width: 40%;
    display: block grid;
    place-items: center;
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    margin: 80px auto;
    padding: 50px;
    background-color: #FEFEFE;
}

.cancel {
    font-weight: bold;
    margin-bottom: 40px;
}

.return__btn {
    text-decoration: none;
    color: #FEFEFE;
    background-color: #212df3;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .content {
        width: 60%;
    }
}

@media screen and (max-width:480px) {
    .content {
        width: 85%;
    }
}