body {
    height: 100%;
    background-color: #f4f4f4;
}

.app {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    align-items: center;
}

.header__heading {
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline-block;
    margin-left: 15px;
    color: #212df3;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
}

.modal__menu {
    width: 40px;
    height: 40px;
    background-color: #212df3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 7px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
}

.hamburger-top {
    width: 10px;
    height: 1px;
    background-color: #FEFEFE;
    border-radius: 3px;
}

.hamburger-middle {
    width: 20px;
    height: 0.5px;
    background-color: #FEFEFE;
    border-radius: 3px;
}

.hamburger-under {
    width: 5px;
    height: 1px;
    background-color: #FEFEFE;
    border-radius: 3px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
}

.modal:target {
    display: flex;
}

.close {
    font-size: 24px;
    text-decoration: none;
    color: #FEFEFE;
    background-color: #212df3;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 90px;
}

.modal__inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FEFEFE;
    overflow: auto;
}

.modal__content,
.modal__content-btn {
    color: #212df3;
    font-size: 35px;
    display: block grid;
    place-items: center;
    margin-top: 8%;
}

.home,
.mypage,
.registration,
.login,
.myshop,
.reservation-confirm,
.shop-edit,
.management,
.send-email,
.shop-rep__list,
.new-create {
    text-decoration: none;
    cursor: pointer;
}

.modal__content-btn {
    border: none;
    background-color: #FEFEFE;
    cursor: pointer;
    padding-bottom: 15px;
}

.modal__content--item {
    list-style: none;
    text-decoration: none;
}

.message__inner {
    padding: 0 40px;
    color: #ce8213;
    font-size: 20px;
}

.message__inner--error {
    height: 20px;
    width: 400px;
    color: #ff0000;
    text-align: left;
    padding-left: 30px;
}

@media screen and (max-width:768px) {
    .header {
        padding: 25px 50px;
    }
}

@media screen and (max-width:480px) {
    .header {
        display: unset;
        padding: 0 20px;
    }

    .modal__menu {
        width: 25px;
        height: 25px;
        box-shadow: 2px 2px 3px #bebebe;
        margin-left: 10px;
    }

    .hamburger-top {
        width: 5px;
        height: 0.5px;
    }

    .hamburger-middle {
        width: 8px;
        height: 0.3px;
    }

    .hamburger-under {
        width: 3px;
        height: 0.5px;
    }

    .header__logo {
        font-size: 25px;
    }

    .close {
        margin: 20px 30px;
        width: 25px;
        height: 25px;
        box-shadow: 2px 2px 3px #bebebe;
    }

    .modal__content {
        font-size: 17px;
        margin-top: 60%;
    }

    .modal__content-btn {
        font-size: 17px;
        padding-bottom: unset;
    }

    .message__inner {
        padding: 0 15px 5px;
    }
}