.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 80px;
}

.header {
    padding: 25px 45px;
}

.shop-name {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.return__btn {
    padding: 10px 20px;
    background-color: #FEFEFE;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    font-weight: bold;
    color: #000;
}

.detail-content {
    width: 50%;
}

.shop-name__inner {
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
}

.img_url {
    width: 100%;
}

.tag {
    padding: 30px 0;
    font-weight: bold;
}

.info__inner {
    margin: 0;
}

.link {
    margin-top: 40px;
}

.review {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #212df3;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 100vh;
    border: none;
    background-color: #4b54f5;
    border-radius: 5px;
}

.reservation__header--inner {
    color: #FEFEFE;
}

.reservation__header--inner,
.reservation__date,
.reservation__time,
.number__inner {
    margin-left: 20px;
}

.reservation__date {
    border: none;
    background-color: #FEFEFE;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.reservation__time,
.number__inner {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}

.form__error {
    height: 20px;
    width: 100%;
    color: #ff0000;
    text-align: left;
    padding-left: 20px;
}

.reservation__btn {
    width: 100%;
    border: none;
    background-color: #212df3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
    padding: 15px;
}

.created-review {
    display: inline;
    margin-left: 20px;
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .reservation-form {
        margin-bottom: 0;
        height: unset;
    }
}