.content {
    display: flex;
    justify-content: space-between;
}

.return__btn {
    padding: 10px 20px;
    background-color: #FEFEFE;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    font-weight: bold;
    color: #000;
}

.detail-content {
    width: 50%;
    margin-left: 40px;
}

.shop-name__inner {
    font-size: 40px;
    font-weight: bold;
}

.img_url {
    width: 100%;
}

.tag {
    padding: 30px 0;
    font-weight: bold;
}

.info__inner {
    font-weight: bold;
    margin: 0;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100vh;
    border: none;
    background-color: #4b54f5;
    border-radius: 5px;
    margin: 10px 40px 40px 60px;
}

.reservation__header--inner {
    color: #FEFEFE;
}

.reservation__header--inner,
.reservation__date,
.reservation__time,
.number__inner {
    margin-left: 20px;
}

.reservation__date {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.reservation__time,
.number__inner {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}

.form__error {
    height: 20px;
    width: 100%;
    color: #ff0000;
    text-align: left;
    padding-left: 20px;
}

.reservation__btn {
    width: 100%;
    border: none;
    background-color: #212df3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
    padding: 15px;
}