.done__content {
    width: 40%;
    display: block grid;
    place-items: center;
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    margin: 80px auto;
    padding: 50px;
    background-color: #FEFEFE;
}

.redirect {
    text-align: right;
    padding: 10px 20px;
    background-color: #212df3;
    border-radius: 5px;
    margin: 20px 25px;
    cursor: pointer;
    color: #FEFEFE;
    border: none;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .done__content {
        width: 60%;
    }
}