.reservation-form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 83vh;
    border: none;
    background-color: #4b54f5;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 20px;
}

.close__update {
    position: absolute;
    top: 13px;
    right: 2%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #FEFEFE;
    border: solid 2px #FEFEFE;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.reservation__table {
    padding: 20PX 30px;
}

.reservation__item {
    color: #FEFEFE;
    padding: 20px 30px;
}

.reservation__data {
    color: #FEFEFE;
    padding: 10px;
    font-size: 20px;
}

.reservation__date {
    border: none;
    background-color: #FEFEFE;
    padding: 10px;
    border-radius: 5px;
}

.reservation__time,
.number__inner {
    border: none;
    background-color: #FEFEFE;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reservation__time,
.number__inner {
    width: 90%;
}

.update__btn {
    width: 100%;
    border: none;
    text-decoration: none;
    background-color: #212df3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
    padding: 15px;
}