.close__update {
    position: absolute;
    top: 20px;
    right: 18%;
    font-size: 20px;
    color: #FEFEFE;
    border: solid 2px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100vh;
    border: none;
    background-color: #4b54f5;
    border-radius: 5px;
    margin: 0 auto;
}

.reservation__date,
.reservation__time,
.number__inner {
    margin-left: 20px;
}

.reservation__item,
.reservation__data:first-of-type {
    color: #FEFEFE;
    padding-left: 20px;
}

.reservation__item:first-of-type,
.reservation__data:first-of-type {
    margin-top: 30px;
}

.reservation__date {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.reservation__time,
.number__inner {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reservation__time,
.number__inner {
    width: 90%;
}

.update__btn {
    width: 100%;
    border: none;
    text-decoration: none;
    background-color: #212df3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
    padding: 15px;
}