.update {
    width: 100%;
    height: 100%;
}
.close__update {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #FEFEFE;
    border: solid 2px;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(50%, -50%);
}

.reservation-form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: #4b54f5;
    border-radius: 5px;
    margin: 10px 40px 40px 60px;
    padding: 20px;
}

.reservation__date,
.reservation__time,
.number__inner {
    margin-left: 20px;
}

.reservation__date {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.reservation__time,
.number__inner {
    border: none;
    background-color: #FEFEFE;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reservation__time,
.number__inner {
    width: 90%;
}

.update__btn {
    width: 100%;
    border: none;
    background-color: #212df3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
    padding: 15px;
}