.login__content {
    width: 40%;
    margin: 0 auto;
    background-color: #FEFEFE;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    text-align: left;
}

.login-form__heading {
    background-color: #212df3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    color: #FEFEFE;
    padding: 20px;
}

.form__group {
    margin: 0 25px;
}

.form__input {
    color: #a1a1a1;
    padding: 10px;
    border-bottom: 1px solid #787878;
}

.form__input-email,
.form__input-password {
    display: flex;
    align-items: center;
}

.form__inner {
    margin-left: 15px;
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-size: 20px;
}

.form__error {
    height: 20px;
    width: 400px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    text-align: right;
    padding: 10px 0px 20px;
    cursor: pointer;
}

.form__button-submit {
    color: #FEFEFE;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background-color: #212df3;
}

.form__group,
.form__button {
    margin: 30px 35px;
}

.fa-solid {
    color: #000000;
    font-size: 25px;
}

@media screen and (max-width:768px) {
    .login__content {
        width: 60%;
    }
}