.content {
    padding: 0 40px;
}

.mypage__content {
    display: flex;
    justify-content: space-between;
}

.content__header--inner {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.reservation__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.reservation {
    border: none;
    border-radius: 5px;
    background-color: #212df3;
    box-shadow: 3px 3px 5px #bebebe;
    width: 80%;
    margin: 40px;
    padding: 0 15px 30px;
    line-height: 210%;
    color: #FEFEFE;
}

.title__num {
    display: inline-block;
    padding-left: 20px;
}

.reservation__data {
    padding-left: 20px;
}

.delete-reservation {
    display: inline-block;
    width: 75%;
}

.delete-reservation__button-submit {
    font-size: 20px;
    background-color: #212df3;
    color: #FEFEFE;
    border: solid 2px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 100%;
    padding-left: 20px;
}

.edit {
    padding: 5px 10px;
    background-color: #212df3;
    text-decoration: none;
    border: solid 1px #FEFEFE;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

.favorite__content {
    width: 50%;
}

.favorite__status {
    display: flex;
    justify-content: space-around;
}

.shop {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: 3px 3px 5px #bebebe;
    width: 30%;
    margin: 10px;
}

.img_url {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    width: 100%;
    margin: 20px 10px;
}

.shop__name {
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: space-between;
}

.detail {
    padding: 20px 0;
    margin-left: 10px;
}

.detail__button {
    background-color: #212df3;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
}

.favorite-form {
    padding: 10px 0;
    margin: 0 15px;
}

.favorite__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.heart {
    position: relative;
    width: 40px;
    height: 30px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 35px;
    border-radius: 100px 100px 0 0;
    background-color: #f44336;
}

.heart::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}