.content {
    padding: 0 60px;
}

.mypage__content {
    display: flex;
    justify-content: space-between;
}

.content__header--inner {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.reservation__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reservation {
    border: none;
    border-radius: 5px;
    background-color: #212df3;
    box-shadow: 3px 3px 5px #bebebe;
    width: 100%;
    margin: 15px 40px 40px 0;
    padding: 0 15px 30px;
    line-height: 210%;
    color: #FEFEFE;
}

.title__num {
    display: inline-block;
    padding-left: 20px;
}

.reservation__data {
    padding-left: 20px;
}

.delete-reservation {
    display: inline-block;
    width: 80%;
}

.delete-reservation__button-submit {
    font-size: 20px;
    background-color: #212df3;
    color: #FEFEFE;
    border: solid 2px #FEFEFE;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 100%;
}

.update__button {
    margin-top: 30px;
}

.edit,
.qr-code {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #212df3;
    text-decoration: none;
    border: 1px solid #FEFEFE;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}

.payment {
    margin-left: 40px;
    padding: 5px 10px;
    background-color: #FEFEFE;
    text-decoration: none;
    border: 1px solid #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
}

.review__title {
    border-bottom: 1px dashed #000000;
    margin-bottom: 40px;
    font-size: 20px;
}

.review__inner {
    margin: 0 25px 25px;
}

.shop__name__inner {
    font-weight: bold;
    display: inline-block;
    width: 60px;
}

.favorite__content {
    width: 50%;
    padding-right: 20px;
}

.favorite__status {
    display: flex;
    flex-wrap: wrap;
}

.favorite {
    width: 50%;
}

.shop {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: 3px 3px 5px #bebebe;
    margin: 10px;
}

.img_url {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    width: 100%;
    padding: 20px;
    padding-bottom: unset;
}

.shop__name {
    font-weight: bold;
    display: inline;
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detail {
    padding: 20px 0;
}

.detail__button {
    background-color: #212df3;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
}

.create-review {
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-form {
    padding: 10px 0;
    margin: 0 15px;
}

.favorite__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.heart {
    position: relative;
    width: 40px;
    height: 30px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 35px;
    border-radius: 100px 100px 0 0;
    background-color: #f44336;
}

.heart::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}


@media screen and (max-width:768px) {
    .content {
        padding: 0 50px;
    }
    
    .content__header--inner {
        margin: unset;
    }
    
    .mypage__content {
        display: unset;
    }


    .reservation {
        width: 80%;
    }

    .reservation__content {
        margin-bottom: unset;
        width: unset;
    }
    
    .delete-reservation__button-submit {
        margin-left: 400px;
    }

    .edit,
    .qr-code {
        display: inline-block;
        margin-bottom: 10px;
    }

    .payment {
        display: inline-block;
    }
    
    .qr-code__info {
        margin-bottom: unset;
    }
    
    .review {
        padding: 20px 0 40px;
    }
    
    .review__title {
        margin-right: 35px;
    }

    .detail {
        margin-left: 3px;
    }
    
    .favorite__content {
        width: unset;
    }
}

@media screen and (max-width:480px) {
    .content__header--inner {
        font-size: 25px;
        margin: unset;
    }

    .delete-reservation {
        width: 50%;
    }

    .delete-reservation__button-submit {
        margin-left: 200px;
    }

    .edit,
    .qr-code {
        margin-right: 34px;
    }

    .payment {
        margin-left: unset;
    }

    .info {
        padding: 20px 35px;
    }

    .favorite {
        width: unset;
    }
}