.content {
    text-align: center;
    margin-top: 100px;
}

.content__inner {
    font-size: 25px;
    padding-bottom: 20px;
}

.payment__inner {
    padding: 20px 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.checkout-button {
    color: #FEFEFE;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #212df3;
    cursor: pointer;
    font-size: 18px;
}

.return__btn {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #b2b2b2;
    background-color: #FEFEFE;
    color: #212df3;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 68px;
    font-size: 18px;
}