.content {
    text-align: center;
    margin-top: 50px;
}

.message__error {
    text-align: left;
    padding-left: 30px;
    color: #f44336;
}

.form {
    margin-top: 20px;
}

.return__btn {
    text-decoration: none;
    color: #212df3;
    background-color: #FEFEFE;
    padding: 5px 10px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #212df3;
    color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
}