.register__content {
    width: 40%;
    margin: 0 auto;
    background-color: #FEFEFE;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #808081;
    text-align: left;
}

.register-form__heading {
    background-color: #212df3;
    border-radius: 5px;
}

.title {
    color: #FEFEFE;
    padding: 20px;
}

.form__group {
    margin: 0 25px;
}

.form__input {
    color: #a1a1a1;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #787878;
}

.form__error {
    height: 20px;
    width: 400px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    text-align: right;
    padding: 10px 20px 20px;
    cursor: pointer;
}

.form__button-submit {
    color: #FEFEFE;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background-color: #212df3;
}

.form__group,
.form__button {
    margin: 20px 25px;
}