.search__content {
    display: flex;
    align-items: center;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: 3px 3px 5px #bebebe;
    padding: 5px;
}

.area,
.genre,
.search-form__input {
    border: none;
    padding: 10px;
}

.area,
.genre {
    border-right: 1px solid #e4e4e4;
}

.fa-solid {
    color: #e4e4e4;
    margin-left: 10px;
}

.shop__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #FEFEFE;
    box-shadow: 3px 3px 5px #bebebe;
    width: 20%;
    margin: 20px;
}

.img_url {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    width: 100%;
    margin: 20px 10px;
}

.shop__name {
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: space-between;
}

.detail {
    padding: 20px 0;
    margin-left: 10px;
}

.detail__button {
    background-color: #212df3;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
}

.favorite-form {
    padding: 10px 0;
    margin: 0 15px;
}

.favorite__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.heart {
    position: relative;
    width: 40px;
    height: 30px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 35px;
    border-radius: 100px 100px 0 0;
}

.heart::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.btn-favorite-active .heart::before,
.btn-favorite-active .heart::after {
    background-color: #f44336;
}

.btn-favorite-inactive .heart::before,
.btn-favorite-inactive .heart::after {
    background-color: #e4e4e4;
}