.thanks__content {
    width: 60%;
    height: 30%;
    display: block grid;
    place-items: center;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #bebebe;
    margin: 0 auto;
}

.title {
    font-weight: bold;
}

.form__button {
    text-align: right;
    padding: 10px 20px;
    background-color: #212df3;
    border-radius: 5px;
    margin: 20px 25px;
    cursor: pointer;
}

.loginpage {
    color: #FEFEFE;
    text-decoration: none;
}